<div class="container__big-card">
 <div class="big-card__photo">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png"
  alt=""
  height="200px"
  width="400px"
  srcset=""
  >
 </div>

 <div class="big-card__title">
   <h1><a href="#">Saiu a nova versão do Angular</a></h1>

 </div>

 <div class="big-card__description">
   <p>
     <a>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec libero purus, lacinia nec laoreet vel,
    vulputate eget nisi. Ut posuere metus at velit placerat, sit amet congue enim porta. Ut a euismod nibh.
    Proin nec aliquet nulla. Quisque suscipit fermentum sagittis. Interdum et malesuada fames ac ante ipsum
    primis in faucibus.
     </a>
   </p>

 </div>

</div>
